:root{
    --line-color-1: rgba(196, 196, 196, 0.733);
    --color-dark-gray: #808080;
    --color-light-gray: rgba(229, 229, 229, 0.285);
    --alert-red: rgb(194, 140, 140);
    --madmax-yellow: #f5a623;
    --madmax-yellow-light: #eccd9b;


    --standard-height: 30px;
}

.red{
    background-color: var(--alert-red) !important;
}

html, body{
    margin: 0;
    font-family: sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-content{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.controls{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
}

.discplot{
    height: 50%;
    width: 100%;
    padding: 10vh;
    box-sizing: border-box;
}

.card-grid{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    height: 50%;
    width: 100%;
    padding: 5vh;
    gap: 50px;
    box-sizing: border-box;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
    border-radius: 20px;
    padding: 15px 0;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
}
.card h4{
    margin: 0;
    position: absolute;
    width: 100%;
    top: -30px;
    left: 0;
    text-align: center;
    color: var(--madmax-yellow-light);
}
.tab-window{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 10px 0px;

}
.tab{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
}
.tab-size-1 {
    max-width: 210px;
    min-width: 180px;
}

.standard-number-input{
    height: var(--standard-height);
    width: 50px;
    border-radius: 5px;
    border: 1px solid var(--line-color-1);
    text-align: center;
    font-family: inherit;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.132);
    box-sizing: border-box;
}

.standard-number-input:hover{
    cursor: pointer;
}

.standard-number-input:focus-visible{
    border: none;
    outline: none;
}

.input-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-wrapper svg{
    margin: 7px 0;
    height: 20px;
    width: 20px;
    stroke: gray;
    fill: gray;
}

.standard-button{
    height: var(--standard-height);
    width: fit-content;
    color: black;
    font-family: inherit;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(176, 176, 176, 0.404);
    background-color: var(--line-color-1);
    transition: all .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.132);
}
a.standard-button{
    text-decoration: none;
    box-sizing: border-box;
    align-content: center;
    padding: 1px 4px;
}

.standard-button:hover{
    filter: brightness(0.9);
    transition: all .2s;
}

.standard-counter{
    height: var(--standard-height);
    display: inline-flex;
    align-self: center;
    border-radius: 5px;
    border: 1px var(--line-color-1) solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.132);

}

.standard-counter-btn{
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.standard-counter-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.standard-counter-wrapper svg{
    margin: 7px 0;
    height: 25px;
    width: 25px;
    stroke: gray;
    fill: gray;
}

.border-right{
    border-radius: 0 5px 5px 0;
}
.border-left{
    border-radius: 5px 0 0 5px;
}

.standard-counter-text:hover{
    cursor: pointer;
}
.standard-counter-btn:hover{
    cursor: pointer;
}
.disc{
    stroke: gray;
    fill: #c0c8d56a;
}
.focus-disc{
    fill: #c0c8d5;
}

/* right side */

.plots {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.long-text-input{
    height: var(--standard-height);
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--line-color-1);
    font-family: inherit;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.132);
    box-sizing: border-box; 
}
.long-text-input:focus-visible{
    outline: 2px solid var(--madmax-yellow);

}
.long-text-input-wrapper label{
    font-size: small;
}
.plots{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative; 
    z-index: 10; 
    width: 30%; 
    height: 100%; 
    padding: 20px; 
    background-color: var(--color-light-gray);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.132); 
}

.standard-button-v2{
    background-color: var(--madmax-yellow);
    width: fit-content;
    color: white;
    font-family: inherit;
    font-size: small;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: all .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.132);
    &:hover{
        filter: brightness(0.9);
        transition: all .2s;
    }
}